@import "tailwindcss";

.orders-table-columns{
  grid-template-columns:
  minmax(110px, 1fr)
  minmax(100px, 3fr)
  minmax(100px, 2fr)
  minmax(100px, 2fr)
  minmax(100px, 1fr)
  minmax(140px, 2fr)
  minmax(120px, 1.7fr)
  minmax(100px, 1.2fr)
}

@theme {
  --color-light: #f7f6fe;
  --color-light-grey: #e0e0e0;
  --color-grey: #9e9e9e;
  --color-dark: #141432;
  --color-purple: #624de3;
  --color-violet: #26264f;
  --color-violet-dark: #1d1e42;
}

